#命題論理論理式を構文解析して木構造に変換
命題論理論理式を構文解析して木構造に変換/input.txt
命題論理論理式を構文解析して木構造に変換/output.txt
命題論理論理式を構文解析して木構造に変換/実行結果.pdf

#DeepLで楽したい
DeepLで楽したい/*.txt

#有限帽子パズルソルバー
有限帽子パズルソルバー/calc_data_*
有限帽子パズルソルバー/result_data
有限帽子パズルソルバー/setting
